/* Feuille de styles pour un formulaire HTML*/
form{
    border: solid 1px;
    width: 500px;
    padding: 10px;
    border-radius: 0.5em;
}

label{
    display: inline-block;
    width: 150px;
    text-align: right;
    margin: 10px 10px 0 0;
}

input[type="checkbox"]+label{
    text-align: left;
    width: auto;
    margin: 0px;
}

input[type="checkbox"]:checked+label{
    color: red;
}

input{
    width: 300px;
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 5px;
    height: 32px;
}

input:focus-within, textarea:focus-within{
    color: blue;
    border: 2px dashed blue;
}

input[type="text"]:valid{
    border: 2px solid green;
}

input[type="text"]:invalid{
    background-color: yellow;
}

input[type="checkbox"], input[type="radio"]{
    width: auto;
    margin: 0px;
    vertical-align: middle;
}

textarea{
    margin-top: 10px;
    vertical-align: top;
}

select, button{
    margin-top: 10px;
}

input[type="submit"]{
    width: 100px;
    margin-top: 10px;
}

